:root {
    --e: cubic-bezier(0.19, 1, 0.22, 1);
  }

  
  @media (min-width: 600px) {
    .pagina-inhoud {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 800px) {
    .pagina-inhoud {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  .content {  
    position: relative;
    overflow: hidden;
    color: whitesmoke;
    background-color: black;
    /* schaduw kaart */
    box-shadow: 0 1px 1px rgba(255, 0, 0, 0.1), 
      0 2px 2px rgba(0,0,0,0.1), 
      0 4px 4px rgba(255, 0, 0, 0.1), 
      0 8px 8px rgba(255, 0, 0, 0.1),
      0 16px 16px rgba(255, 0, 0, 0.1);
  }
  

  /* achtergrond kaart */
  .content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-size: cover;
    transition: transform calc((800ms) * 1.5) var(--e);
  }
  
  /* transition tekst en schaduw */
  .content::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    pointer-events: none;
    background-image: linear-gradient(
      to bottom,
      hsla(0, 100%, 50%, 0) 0%,
      hsla(0, 100%, 50%, 0.009) 11.7%,
      hsla(0, 100%, 50%, 0.034) 22.1%,
      hsla(0, 100%, 50%, 0.072) 31.2%,
      hsla(0, 100%, 50%, 0.123) 39.4%,
      hsla(0, 100%, 50%, 0.182) 46.6%,
      hsla(0, 100%, 50%, 0.249) 53.1%,
      hsla(0, 100%, 50%, 0.32) 58.9%,
      hsla(0, 100%, 50%, 0.394) 64.3%,
      hsla(0, 100%, 50%, 0.468) 69.3%,
      hsla(0, 100%, 50%, 0.54) 74.1%,
      hsla(0, 100%, 50%, 0.607) 78.8%,
      hsla(0, 100%, 50%, 0.668) 83.6%,
      hsla(0, 100%, 50%, 0.721) 88.7%,
      hsla(0, 100%, 50%, 0.762) 94.1%,
      hsla(0, 100%, 50%, 0.79) 100%
    );
    transform: translateY(-50%);
    transition: transform calc((900ms) * 2) var(--e);
  }
  
  .inhoud {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
    transition: transform 900ms var(--e);
    z-index: 1;
  }
  
  h2{
    font-size: 30px;
  }
  
  .decription {
    font-style: italic;
    line-height: 1.35;
  }
  
  .btn-project {
    font-size: 12px;
    color: white;
    background-color: black;
  }
   
  @media (hover: hover) and (min-width: 300px) {
    .content::after {
      transform: translateY(0);
    }
    
    .inhoud {
      transform: translateY(calc(100% - 4.5rem));
    }
    
    .content:hover,
    .content:focus-within {
      align-items: center;
  
      &::before { transform: translateY(-4%); }
      &::after { transform: translateY(-50%); }
  
      .inhoud {
        transform: translateY(0);
      }
    }
    
    .content:focus-within {
      &::before,
      &::after,
      .inhoud {
        transition-duration: 0s;
      }
    }
  }
  