:root {
    --red: #C3073F;
    --btn-hover: #e71f5b;
    --pink-red: #950740;
    --maroon: #6f2232;
    --navy-blue: #001B79;
    --black: #1A1A1D;
    --text-color: white;
}

/* header container*/
.container-fluid:nth-child(1) {
    background-color: var(--red);
}

/* main container */
.container-fluid:nth-child(2) {
    background-color: var(--black);
    color: var(--pink-red);
    min-height: 500px; 
}

/* footer container */
.container-fluid:nth-child(3) {
    background-color: var(--red);
    color: var(--navy-blue);
    min-height: 350px;
}



/* header */

.logo-hd{
    height: 50px;
    /* display: flex;
    justify-content: center; */
}

nav{
    float: right;
    display: flex;
    justify-content: center;
}

a{
    text-decoration: none;
    background-color: var(--red);
    color: var(--text-color);
    padding: 20px;
    width: 200px;
    text-align: center;
}
.logo-container-ft{
    text-align: center;
}

.logo-ft {
height: 80px;
margin-top: 30px;
}

.name-ft {
    text-align: center;
}

.quote {
    text-align: center;
    padding: 10px;
}

.nav-ft {
    text-align: center;
    padding: 20px;
}